.chart-wrap {
	height: 350px;
	width: 100%;
	margin-top: 2rem;
	background: var(--surface);
	border-radius: var(--radius-md);
	display: block;
	position: relative;
	overflow: hidden;

	canvas {
		display: block !important;
		width: 100% !important;
		height: 100% !important;
		visibility: visible !important;
		opacity: 1 !important;
	}
}
